header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin:1rem 0;
}

header > img {
  width: 25%;
}
.header__logo-mobile{
  display: none;
}


@media (width < 490px) {
 .header__logo-mobile{
      display: block;
      width: 100%;
 }
  .header__logo{
      display: none;
  }
}